:root {
  --blue-text-colour: #2196F3;
}


body {
font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*--------------header---------------------*/

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: #2196F3;
}
.header-studio {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: #212121;
}


.header-link-studio{
  font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;

color: var(--blue-text-colour);
}

.header-link {  
color: #212121;
font-weight: 500;
font-size: 14px;
line-height: calc(16 /14);
letter-spacing: 0.02em;

color: #212121;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  
  color: var(--blue-text-colour);
  
}

.header-tel {
  font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;

color: #757575;
}


/*--------------solution---------------------*/

.solution {
  background: #2F303A;
}

.solution-title {
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.solution-btn {
  font-size: 16px;
  line-height: 30px; 

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #FFFFFF;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--blue-text-colour);
}

/*-------------grade---------------------*/

.grade-title{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #212121;
}

.grade-aft-title {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  
  color: #757575;
}

/*-----------------whatdo_________________*/

.whatdo-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  }
  
  /*------------team-----------------*/


.team-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
}

.team-pre-title{
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: #212121;
}

.team-aft-title{
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  
  color: #757575;
}
/*------------footer-------------*/

.footer {
  background-color: #2F303A;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--blue-text-colour);
}

.footer-studio {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: #FFFFFF;
}

.footer-mail {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
}


.footer-map {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
}





/*--------portfolio-------*/


.portfolio-link {
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  color: #fff;
}

.portfolio-btn {
  background: #F5F4FA;
  border-radius: 4px;
}

.portfolio-item {
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}


.portfolio-title {
  font-size: 18px;
line-height: calc(36 / 18);
letter-spacing: 0.06em;

color: #212121;
}

.portfolio-sec-title {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  
  color: #757575;
}
